{% extends "default.twig" %}


{% block content %}

<div class="box">
	<div class="box-inner auth">
		<h2>Authentification</h2>
	
		{% if data.error.login or data.error.password %}
			<div class="alert alert-error	">
				Identifiants incorrecte.
			</div>
		{% else %}
			<div class="alert alert-info">
				Veuillez entrer vos identifiants.
			</div>
		{% endif %}

		<div class="row-fluid">
			<form class="form-horizontal" action="{{template.root_url}}user/login" method="post">
				<fieldset>

					<div class="input-prepend" title="Username" data-rel="tooltip">
						<span class="add-on"><i class="icon-user"></i></span>
						<input autofocus class="input-xlarge" name="login" id="username" type="text" value="" />
					</div>

					<div class="clearfix"></div>

					<div class="input-prepend" title="Password" data-rel="tooltip">
						<span class="add-on"><i class="icon-lock"></i></span>
						<input class="input-xlarge" name="password" id="password" type="password" value="" />
					</div>
					<div class="clearfix"></div>

					<div class="center buttonvalidation">
					<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</fieldset>
			</form>
		</div><!-- / row-fluid -->
	</div>
</div>
{% endblock %}