{% extends "default.twig" %}


{% block content %}

<div class="box">
	<div class="box-inner">
		<h2>Mot de passe oublié ?</h2>
	
		{% if data.success %}
			<div class="alert alert-info">
				{{ data.success }}
			</div>
			<a href="{{template.root_url}}">
				<button type="submit" class="btn btn-success">Retourner au menu</button>
			</a>
		{% else %}

			{% if data.error %}
				<div class="alert alert-error">
					{{ data.error }}
				</div>
			{% endif %}
			<div class="row-fluid">
				<form class="form-horizontal" action="{{template.root_url}}user/forget" method="post">
					<fieldset>
						<p>Entrer votre adresse mail pour obtenir un nouveau mot de passe</p>
						<div class="control input-prepend" title="email" data-rel="tooltip">
							<span class="add-on"><i class="icon-envelope"></i></span>
							<input class="input-xlarge" name="email" id="email" type="email" value="" />
						</div>
						
						<div class="clearfix"></div>

						<div class="center buttonvalidation">
						<button type="submit" class="btn btn-primary">Envoyer</button>
						</div>
					</fieldset>
				</form>
			</div><!-- / row-fluid -->

		{% endif %}
	</div>
</div>
{% endblock %}